# --------------------------------------------------
# Java / Compilation
# --------------------------------------------------
out/
build/
target/
bin/
*.class
*.jar
!lib/*.jar
*.war
*.ear

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# OS
# --------------------------------------------------
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS (si jamais)
.DS_Store

# --------------------------------------------------
# Node (si jamais un script JS/TS traîne)
# --------------------------------------------------
node_modules/

# --------------------------------------------------
# Temp files
# --------------------------------------------------
*.tmp
*.temp
*.cache

# --------------------------------------------------
# Security
# --------------------------------------------------
*.key
*.crt
*.pem

# --------------------------------------------------
# Virtual environment
# --------------------------------------------------
venv/
